/* .debug{
    border:1px solid black;
    min-height:100px;
} */

:root{
    --primary: #1abc9c;
    --darkest:#2c3e50;
    --dark: #3a546d;
}

.bg_darkest{
    background-color: var(--darkest);
}

/* jumbotron section */
.avatar_img{
    width:250px;
    height:250px;
}

.star_object::before, .star_object::after{
    content:'';
    height:3px;
    width:12%;
    display: block;
    background-color: currentColor;
    border-radius:3px;
}




/* fix from here */
/***********************************************
site main
************************************************/
#site_main{
    width:100%;
}

section:nth-child(odd){
    background-color: var(--primary);
}

main > .container-fluid:nth-child(5){
    background-color: var(--dark);
}

/***********************************************
site footer
************************************************/
#site_footer{
    width:100%;
    background-color: var(--darkest);
    color:White;
}


/***********************************************
media queries
************************************************/